/*!
 * Sytlesheet for Do Chay
 * 
 * This is the golabl stylesheet containing all CSS needed for the site
 */


/* Global Styles */

* {
    /*border: 1px solid purple;*/
}

html, body {
    height: 100%;
    background-color: #fed24a;
}

h1, h2, h3, h4, p {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

p {
    word-wrap: break-word;
    white-space: normal;
}

h1 {
    font-size: 30px;
    font-size: 2.5vw;
}

h3 {
    font-size: 20px;
    font-size: 1.5vw;
}

a, svg {
    display: inline-block;
}
svg {
    height: 100%;
    width: 100%;
    fill: black;
}
a svg:hover {
    fill: rgb(69,69,69);
}

.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.socialMedia {
    display: table;
    margin: 0 auto;
    width: 333px;
}
.smIcons {
    margin-right: 10px;
    position: relative;
    height: 60px;
    width: 60px;
}
.centerDiv {
    width: 100%;
    text-align: center;
}
.generalLink {
    color: #848484;
}
.textRight {
    text-align: right;
}
.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.textLeft {
    text-align: left;
}
.thirdPartyButton {
    float: left;
}
.thirdPartyDiv {
    height: 60px;
}
.verticallySpace {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}

#headerContainer {
    background-color: #fed24a;
    height: 100%;
}
#headerRow {
    width: 100%;
    margin: 0px;
}
#headerImg {
    margin: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    height: 100%;
    float: left;
}
#headerImgDiv {
    position: relative;
    height: 100%;
    padding: 0px;
}
#headerContactDiv {
    height: 100%;
    white-space: nowrap;
}
#contactContainer {
    width: 90%;
    height: 50%;
    margin: auto;
    vertical-align: middle;
    margin-top: 20%;
    text-align: center;
}
#logoDiv {
    width: 85%;
    margin: auto;
}

#doChayLogo {
    width: 100%;
}
#contentDiv {
    width: 100%;
    padding-top: 15px;
}
#contentP {
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 4.25vw;
    }

    h3 {
        font-size: 3.25vw;
    }
}