/*!
 * Sytlesheet for Saola
 * 
 * This is the golabl stylesheet containing all CSS needed for the site
 */


/* Global Styles */

* {
    /*border: 1px solid purple;*/
}

html, body {
    background-color: #181818;
    text-align: center;
    color: #cccccc;
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}
